body {
background:#8084E8;
font-family: 'Helvetica'
  ,sans-serif;
}

h1{
position:fixed;
left: 5%;
top:5%;
color:white;
}
iframe {
position: fixed;
height: 120%; 
widht: 100vw;
top: 0px;
left:10%;
right:25%;
bottom:-25%;
}